.benefits {
    padding-top: 60px;
}

.benefits-card__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 120px;
    background-color: $bcben-color;
    margin-bottom: 30px;
    @media(min-width:768px) {
        width: 354px;
    }
    @media(min-width:1200px) {
        width: 270px;
    }
}
.benefits-card__icon {
    width: 70px;
    height: 70px;
}
.benefits-card__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-align: center;
     @media(min-width:768px) {
        text-align: left;
     }
}
.benefits-card__text {
    font-size: 14px ;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $color-contact;
}
@media (min-width:768px) and (max-width:1200px) {
    .benefits-card {
        display: flex;
        flex-wrap: wrap;
    }
    .benefits-card__list {
        flex: 1;
    }
    .benefits-card .benefits-card__list:nth-child(odd) {
    margin-right: 30px;
    }
}
@media (min-width:1200px) {
    .benefits {
        padding-top: 94px;
    }
    .benefits-card .benefits-card__list:not(:last-child) {
    margin-right: 30px;
    }
    .benefits-card{
    display: flex;  
    }
}
 