.footer {
    display: flex;
    background-color: $bchero-color;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-box {
    display: flex;
}
.footer-box-contact {
    margin-right: 70px;
}
.footer-logo {
    font-family: Raleway;
    font-weight: 700;
    text-decoration: none;
    color:$bg-color;
    font-size: 26px;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    display: inline-block;
    margin: 0 0;
    margin-bottom: 20px;
}
.footer-contact li {
    margin-bottom: 9px;
}
.footer-contact li:last-child {
    margin-bottom: 0;
}

.footer-contact__address  {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $bg-color;
    text-decoration: none;
    font-style: normal;
    margin-bottom: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover {
    color:$color-hover;
    }
}
.footer-contact__contact {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $bg-color;
    text-decoration: none;
    font-style: normal;
    margin-bottom: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:last-child {
    margin-bottom: 0;
    }
&:hover {
    color: $color-hover;
    }
}
.footer-network__text {
    color: $bg-color;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer-network {
    margin-right: 93px;
}
.footer-network__box {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer-network__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $bg-color;
    background-color:rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover {
    background-color: $color-hover;
    }
}
.footer-form {
    width: 358px;
    display: inline-block;
    margin-right: 12px;
}
.footer-form__label {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $bg-color;
    margin-bottom: 20px;
}
.footer-form__input {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 16px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: $bchero-color;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:focus {
    outline: none;
    border-color:$color-hover;
    }
}
.footer-button {
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: $bg-color;
    align-items: center;
    background: $color-hover;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}
.footer-button__icon {
    position: relative;
    top: 6px;
    margin-left: 10px;
    fill: $bg-color;
}