header {
    border-bottom: 1px solid #ececec;
}
.header {
    min-height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav-box {
    display: flex;
    align-items: center;
}