.hero {
    background-color:$bchero-color ;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), 
        url(../images/hero@1x.jpg);
    max-width: 480px;
    height: 400px;
    margin: 0px auto;
    padding: 118px 0;
    background-repeat: no-repeat;
    background-position: center;
    @media (min-width:768px) {
        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), 
        url(../images/hero@2x.jpg);
    max-width: 768px;
    }
    @media (min-width:1200px) {
        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), 
        url(../images/hero@3x.jpg);
    max-width: 1200px;
    height: 600px;
    padding: 200px 0;
    }
}
.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.06em;
    text-align: center;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color:$bg-color;
    text-transform: uppercase;
    @media (min-width:1200px){
        font-size: 44px;
        line-height: 60px;
        width: 696px;
    }
}
.hero-button {
    display: block;
    padding: 10px 24px;
    margin: 0 auto;
    font-weight:700;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 0.06em;
    color:$bg-color;
    background-color: $color-hover;
    cursor: pointer;
    border-radius: 4px;
    @media (min-width:1200px){
       padding: 10px 32px;
    }
}