$font-styl:Roboto,sans-serif;
$text-color:#212121;
$bg-color:#ffffff;
$color-hover:#2196f3;
$color-contact:#757575;
$bchero-color:#2f303a;
$bcben-color:#f5f4fa;
$icon-color:#afb1b8;
$modal-color:#000000;
$border-color:#eeeeee;